*{
margin: 0;
padding: 0; 
box-sizing: border-box;
}
.subscribe {
    background: rgb(205, 2, 2);
    border: none;
    padding: 8px 16px;
    color: #fff;
    height: 36px;
    width: 100px;
    cursor: pointer;
  }
  .join-btn {
    width: 100px;
    height: 36px;
    background-color: #fff;
    border: rgb(2, 130, 216) 1px solid;
    color: rgb(2, 130, 216);
    margin-left: 8px;
    transition:.5s;
  }
  .join-btn:hover {
    opacity:0.7;
  }
  .tweet-btn {
    background: rgb(2, 130, 216);
    color: #fff;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 8px;
    border:none;
  }
  .card{
    width: 300px;
    /* height: 300px; */
    margin-top: 20px;
    display:inline-block;
    margin-left: 60px;
  }
  .card-img img{
    width: 100%;
    height: 150px;
  }
  .card-desc{
    width: 300px;
    display: inline-block;
    font-size: 0px;
    object-fit:cover;
  }
  .card-desc-img{
    display: inline-block;
    width: 120px;
    vertical-align: top;
    
  }
  .card-desc-img img{
    border-radius: 100%;
  }
  .card-desc-img-text{
    width: 180px;
    display: inline-block;
    font-size: 12px;
  }
  .card-title{
    margin-left: 60px;
    margin-top: 20px;
  }
  .card-sub{
    font-size: 11px;
  }